<div ng-include="'components/navbar/navbar.html'"></div>
<div class="row">
    <div class="col-md-offset-1 col-md-10">

        <tabset>

            <tab active="true">
                <tab-heading>
                    Description
                </tab-heading>
                    <h3>Information</h3>
                <div class="row">
                    <div class="col-md-2">
<ul class="polaroids">
    <li><img ng-src="{{article.photoLink}}" alt="Image" class="img-responsive" style="margin:auto"></li>
</ul>
                        
                    </div>
                    <div class="col-md-8">

                        <h2>{{article.name}}</h2>
                        <div style="padding-bottom:10px" class="text-danger">{{article.department}} - {{article.collectionType}} - {{article.category}} </div>

                        <div>{{article.description}}</div>
                                            <div style="padding-top:10px">
                        Materials :  <ui-select multiple ng-model="article.materials" theme="bootstrap" disabled="true" style="width: 75%;display: inline-block;background:none;border:none">
                        <ui-select-match placeholder="Select materials...">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="materials in materialss | filter:$select.search track by $index" refresh="refresh($select.search, 'materials')" refresh-delay="0">
                          {{materials}}
                        </ui-select-choices>
                      </ui-select>
                    </div>
                    <div style="padding-top:10px">
                        Presence :  <ui-select multiple ng-model="article.presence" theme="bootstrap" disabled="true" style="width: 75%;display: inline-block;background:none;border:none">
                        <ui-select-match placeholder="Select presence...">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="presence in presences | filter:$select.search track by $index" refresh="refresh($select.search, 'presence')" refresh-delay="0">
                          {{presence}}
                        </ui-select-choices>
                      </ui-select>
                    </div>
                    </div>
                    <div class="col-md-2">
                    <div  style="margin:auto;">
                            <canvas id="ean" width="150" height="75">
                                Your browser does not support canvas-elements.
                            </canvas>
                            </div>
                            <small class="text-muted pull-right">Commercials</small>
                        <a ng-href="{{article.brandLink}}" target="_blank">
                            <div class="pull-right" style="padding:25px;text-align:center;border:1px lightgrey solid">
                                <i class="fa fa-external-link"></i>
                                <span class="text-info" >{{article.brand}}</span>  
                                {{article.price}}€
                            </div>
                        </a>
                </div>
                </div>

                    <h3>Test Results</h3>
<highchart id="chart1" config="chartPolar"></highchart>
            </tab>
            <tab>
                <tab-heading>
                    Client's Reviews
                </tab-heading>

            </tab>
            <tab>
                <tab-heading>
                    Locations
                </tab-heading>

            </tab>
                                        <div class="pull-right">
                    <a ng-href="/articleedit/{{article.EAN13}}" class="btn btn-success">Edit this article</a>
                    </div>

        </tabset>

    </div>
</div>
