<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">List Modification : {{listName}}</h3>
    </div>
    <div class="modal-body">
        <div class="pull-right">
            <button type='button' class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"> Previous </button>
            {{currentPage+1}}/{{numberOfPages()}}
            <button type='button' class="btn btn-default" ng-disabled="currentPage >= items.length/pageSize - 1" ng-click="currentPage=currentPage+1"> Next </button>
        </div>
        <ul>
            <li ng-repeat="item in items | startFrom:currentPage*pageSize | limitTo:pageSize track by $index">
                <a data-toggle="confirmation" data-singleton="true"><i class="btn fa fa-trash-o" ng-click="delete($index)"></i></a> {{ item }} </li>
        </ul>
    </div>
    <div class="modal-body">
        New:
        <input type="text" class="form-control" ng-model="newItem" style="width:75%;display:inline-block">
        <button type="button" class="btn btn-primary" ng-click="add()">Add</button>
    </div>
    <div class="modal-footer">
        <button type='button' class="btn btn-warning pull-left" ng-click="cancel()">Cancel</button>
        <button type='button' class="btn btn-primary" ng-click="ok()">Close and Save</button>
    </div>
</script>
<div ng-include="'components/navbar/navbar.html'">
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10 col-xs-12">
        <form name="form.myForm" class="form-horizontal" role="form" action="#">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Marque</label>
                    <div class="col-md-9">
                        <ui-select ng-model="article.brand" theme="bootstrap" ng-disabled="disabled" reset-search-input="true" style="width: 75%;display: inline-block;">
                            <ui-select-match placeholder="Entrer une marque...">{{article.brand}}</ui-select-match>
                            <ui-select-choices repeat="brand in brands  | filter: $select.search track by $index" refresh="refresh($select.search, 'brand')" refresh-delay="0">
                                <div ng-bind-html="brand | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <button type='button' class="btn btn-default" ng-click="open(brands, 'brand')" ng-show="isAdmin()">Modify List</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Dénomination article</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="" class="form-control" ng-model="article.name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">EAN 13</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="" class="form-control" ng-model="article.EAN13" ng-required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Ref Vendeur</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="" class="form-control" ng-model="article.seller" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Photo</label>
                    <div class="col-md-9">
                        <input type="hidden" placeholder="" class="form-control" ng-model="article.photoLink" />

                        <a class="btn btn-default" href="#" id="upload_widget_opener" ng-click="uploadPhotos()">Charger des photos de l'article</a>
                        <div class="photos" style="padding-top:15px">
                            <small class="text-warning" ng-if="photos.length === 0 || !photos">Aucune photo chargée pour l'instant</small class="text-danger">
                          <ul  class="list-inline">
                              <li ng-repeat="photo in photos | orderBy:'version':false">
                                <a cl-href="{{photo.public_id}}" format="jpg" target="_blank">
                                  <cl-image public-id="{{photo.public_id}}" class="thumbnail inline" height="150" crop="fit" quality="80" format="jpg"/>
                                </a>
                              </li>
                          </ul>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Collection</label>
                    <div class="col-md-9">
                        <ui-select ng-model="article.collectionType" theme="bootstrap" ng-disabled="disabled" reset-search-input="true" style="width: 75%;display: inline-block;">
                            <ui-select-match placeholder="Entrer une collection...">{{article.collectionType}}</ui-select-match>
                            <ui-select-choices repeat="collectionType in collectionTypes  | filter: $select.search track by $index" refresh="refresh($select.search, 'collectionType')" refresh-delay="0">
                                <div ng-bind-html="collectionType | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <button type='button' class="btn btn-default" ng-click="open(collectionTypes, 'collectionType')" ng-show="isAdmin()">Modify List</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Lien de l'article</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="http://" class="form-control" ng-model="article.brandLink" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Catégorie</label>
                    <div class="col-md-9">
                        <ui-select ng-model="article.category" theme="bootstrap" ng-disabled="disabled" reset-search-input="true" style="width: 75%;display: inline-block;">
                            <ui-select-match placeholder="Entrer une catégorie...">{{article.category}}</ui-select-match>
                            <ui-select-choices repeat="category in categorys  | filter: $select.search track by $index" refresh="refresh($select.search, 'category')" refresh-delay="0">
                                <div ng-bind-html="category | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <button type='button' class="btn btn-default" ng-click="open(categorys, 'category')" ng-show="isAdmin()">Modify List</button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Prix</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="" class="form-control" ng-model="article.price" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Statut</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="" class="form-control" ng-model="article.nepcodeRef" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Test1</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="Nom du test" class="form-control" ng-model="article.test1" style="width: 30%;display: inline-block;" />
                        <input type="text" placeholder="Résultat" class="form-control" ng-model="article.test1Result"  style="width: 30%;display: inline-block;"/>
                        <input type="text" placeholder="Rang NepCode (/5)" class="form-control" ng-model="article.test1Rank" style="width: 30%;display: inline-block;" />
                    </div>
                </div>
                                <div class="form-group">
                    <label class="col-md-3 control-label">Test2</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="Nom du test" class="form-control" ng-model="article.test2" style="width: 30%;display: inline-block;" />
                        <input type="text" placeholder="Résultat" class="form-control" ng-model="article.test2Result"  style="width: 30%;display: inline-block;"/>
                        <input type="text" placeholder="Rang NepCode (/5)" class="form-control" ng-model="article.test2Rank" style="width: 30%;display: inline-block;" />
                    </div>
                </div>
                                <div class="form-group">
                    <label class="col-md-3 control-label">Test3</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="Nom du test" class="form-control" ng-model="article.test3" style="width: 30%;display: inline-block;" />
                        <input type="text" placeholder="Résultat" class="form-control" ng-model="article.test3Result"  style="width: 30%;display: inline-block;"/>
                        <input type="text" placeholder="Rang NepCode (/5)" class="form-control" ng-model="article.test3Rank" style="width: 30%;display: inline-block;" />
                    </div>
                </div>
                                <div class="form-group">
                    <label class="col-md-3 control-label">Test4</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="Nom du test" class="form-control" ng-model="article.test4" style="width: 30%;display: inline-block;" />
                        <input type="text" placeholder="Résultat" class="form-control" ng-model="article.test4Result"  style="width: 30%;display: inline-block;"/>
                        <input type="text" placeholder="Rang NepCode (/5)" class="form-control" ng-model="article.test4Rank" style="width: 30%;display: inline-block;" />
                    </div>
                </div>
                                <div class="form-group">
                    <label class="col-md-3 control-label">Test5</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="Nom du test" class="form-control" ng-model="article.test5" style="width: 30%;display: inline-block;" />
                        <input type="text" placeholder="Résultat" class="form-control" ng-model="article.test5Result"  style="width: 30%;display: inline-block;"/>
                        <input type="text" placeholder="Rang NepCode (/5)" class="form-control" ng-model="article.test5Rank" style="width: 30%;display: inline-block;" />
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="">
                    <a href="#" class="btn btn-success pull-right" ng-click="save()">Enregistrer</a>
                    <a href="#" class="btn btn-default" ng-click="cancel()">Annuler</a>
                </div>
            </div>
        </form>
    </div>
</div>