
<section class="row ">
<div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-xs-12 col-sm-12 text-center center-block">

<img src="assets/images/logo/logo.jpg" class="img-responsive" style="display:inline-block;
    float:none;"/>

</section>
<section class="row ">
<hr class="logohr">
    <div collapse="isCollapsed" class="navbar-collapse collapse text-center" id="navbar-main">
      <ul>
        <li style="display:inline;padding-left:30px;padding-right:30px" ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}" style="color:grey"><b>{{item.title}}</b></a>
        </li>
        <li style="float:right"  style="display:inline">
<form role="form" style="width:350px;margin-right:50px;"> 
  <div class="form-group has-feedback">
    <input type="text" class="form-control" placeholder="Rechercher le PP d'un article" />
    <i class="form-control-feedback fa fa-search" style="top:0px;"></i>
  </div>
</form>
        </li>
      </ul>
  </div>
</div>
</section>

<section class="row " style="padding-top:15px">
<div class="col-md-offset-2 col-md-8">
    </div>
</section>

        <!-- Slide -->           
        <section class="camera_wrap camera_white_skin" id="slide">

            <!-- Item Slide style_one no picture--> 
            <div  data-src="assets/images/slides/transparence.jpg">
                <div class="style_two">
                    <div class="container">
                        <div class="row">                                
                            <div class="col-md-8">
                                <h1 class="animated bounceInRight delay1">
                        <span>
                         LE FOCUS 
                            <span class="border"></span>
                        </span><p>DU MOMENT</p>
                                </h1>
                                <p class="lead animated bounceInUp delay2">Comment teste-t-on l’imperméabilité ?
</p>
                                 <a  class="btn btn-lg btn-primary animated bounceInUp delay2" href="/blog">Voir l'info</a>
                            </div>
                        </div>  
                    </div>                                                                                         
                </div>
            </div>
            <!-- End Item Slide style_one no picture-->  

            <!-- Item Slide style_one--> 
            <div  data-src="assets/images/slides/news.jpg">
                <div class="style_two">
                    <div class="container">
                        <div class="row">                                
                            <div class="col-md-8">
                                <h1 class="animated bounceInRight delay1" style="color:#000">
                        <span >
                        L’ARTICLE 
                            <span class="border" style="margin-top:-50px"></span>
                        </span><p>DU MOMENT</p>
                                </h1>
                                <p class="lead animated bounceInUp delay2" style="color:#000">L’interview de la Bloggeuse Céline Artis.</p>
                                <a  class="btn btn-lg btn-primary animated bounceInUp delay2" href="#">Voir l'info</a>
                            </div>
                            <div class="col-md-4">
                                <img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.ruevalfere.com/wp-content/uploads/2013/02/6.jpg&sa=X&ei=eo9DVZbTDtLnaLnFgbAC&ved=0CAkQ8wc&usg=AFQjCNGG4jpk8f4n7-KHpVgfLBktdjvhRg" alt="" class="img-responsive animated bounceInDown delay2">
                            </div>
                        </div>  
                    </div>                                                                                         
                </div>
            </div>
            <!-- End Item Slide style_one -->  

            <!-- Item Slide style_two--> 
            <div  data-src="assets/images/slides/bon plan.jpg">
                <div class="style_two"> 
                    <h1 class="animated bounceInDown delay1">
                        <span>
                        LE BON PLAN 
                    
                            <span class="border"></span>
                        </span><p>DU MOMENT</p>
                    </h1>
                    <p class="lead animated bounceInUp delay2">10% de remise sur les articles référencés sur KiPPME.</p>
                     <a class="btn btn-lg btn-primary animated bounceInUp delay2" href="#">Voir l'info</a>
                </div>
            </div>
            <!-- End Item Slide style_two --> 


        </section>   
        <!-- End Slide --> 

<section class="box-action">
    <div class="container">
        <div class="title">
            <p class="lead">Découvrez notre application sous Android et iOS</p>
        </div>
        <div class="button">
            <a href="https://play.google.com/store" target="_blank"><span class="fa fa-download "></span> Télécharger</a>
            <span class="arrow_box_action"></span>
        </div>
    </div>
</section>

<section class="paddings borders section-gray pattern-portfolios">

    <!-- Title Heading -->
    <h2 style="padding-left:25px">Les derniers arrivés</h2>
    <!-- End Title Heading -->
                <!-- Items Works -->
 <data-owl-carousel id="works" class="owl-carousel" data-options="{navigation: false, pagination: true, rewindNav : true, autoPlay: 3000, items:4}">
      <div owl-carousel-item="" ng-repeat="article in ::articles" class="item-work">
       <a href="/article/{{article.EAN13}}">
<div class="thumbnail">
                <img class="group list-group-image" ng-src="{{article.photoLink}}" alt="" style="width:100px"/>
                <div class="caption">
                <h4><b>{{article.brand | uppercase}}</b></h4>
                    <h4 style="margin-top:-15px" class="group inner list-group-item-heading">
                        {{article.name}}</h4>

                            <div class="icons-work">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star-o"></span>
                            </div>
                </div>
            </div>
            </a>
      </div>
    </data-owl-carousel>
                <!-- End Items Works -->
</section>


<footer class="footer-bottom">
    <div class="container">
        <div class="row">

            <!-- Nav-->
            <div class="col-md-8 col-xs-12">
                <div class="logo-footer">
                                    <h2>Ki<span>P</span>PME<span>.</span></h2>
                        <p>© 2015 kippme . All Rights Reserved. 2015</p>
                </div>
                <!-- End coopring-->

            </div>
            <!-- End Nav-->

            <!-- Social-->
            <div class="col-md-4 col-xs-12">
                <!-- Menu-->
                <ul class="social">
                    <li data-toggle="tooltip" title="" data-original-title="Facebook">
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li data-toggle="tooltip" title="" data-original-title="Twitter">
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li data-toggle="tooltip" title="" data-original-title="Youtube">
                        <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                    </li>
                </ul>
                <!-- End Menu-->
            </div>
            <!-- End Social-->

        </div>

    </div>
</footer>
